<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input id="initial-investment" name="initial-investment" type="number" [(ngModel)]="enteredInitialInvestment" placeholder="Enter Initial Investment" required/>
        </p><p>
            <label for="annual-investment">Annual Investment</label>
            <input id="annual-investment" name="annual-investment" type="number" [(ngModel)]="enteredAnnualInvestment" placeholder="Enter Annual Investment" required/>
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" name="expected-return" type="number" [(ngModel)]="enteredExpectedReturn" placeholder="Enter Expected Return" required/>
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" name="duration" type="number" [(ngModel)]="enteredDuration" placeholder="Enter Duration in Months" required/>
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
